.user {
    flex: 4;
    padding: 20px;
}

.userTitle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.user-container {
    margin-top: 20px;
    display: flex;
   
}

.userShow {
    flex: 1;
    padding: 20px;
    box-shadow: -3px 6px 12px 6px rgba(173,165,165,0.75);
    -webkit-box-shadow: -3px 6px 12px 6px rgba(173,165,165,0.75);
    -moz-box-shadow: -3px 6px 12px 6px rgba(173,165,165,0.75);
}

.userShow-top {
    display: flex;
    align-items: center;
}

.userShow-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShow-top-title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.userShow-name {
    font-weight: 600;
}

.userShow-title {
    font-weight: 300;
}

.userShow-bottom {
    margin-top: 20px;
}

.userShow-bottom-title {
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 180);
}

.userShow-info {
    display: flex;
    align-items: center;
    color: #444;
    margin: 20px 0px;
}

.userShow-icon {
    font-size: 16px !important;

}

.userShow-info-title {
    margin-left: 10px;
}

.userUpdate {
    flex: 2;
    padding: 20px;
    box-shadow: -3px 6px 12px 6px rgba(173,165,165,0.75);
    -webkit-box-shadow: -3px 6px 12px 6px rgba(173,165,165,0.75);
    -moz-box-shadow: -3px 6px 12px 6px rgba(173,165,165,0.75);
    margin-left: 20px;
}

.userUpdate-title {
    font-size: 24px;
    font-weight: 600;
}

.userUpdate-form {
    display: flex;
    
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdate-item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdate-item > label {
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdate-input {
    border: none;
    width: 250px;
    border-bottom: 1px solid gray;
    outline: none;
}

.userUpdate-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userUpdate-upload {
    display: flex;
    align-items: center;
}

.userUpdate-img {
    width: 100px;
    height: 100px;
    border-radius:10px;
    object-fit: cover;
    margin-right: 20px;
}

.userUpdate-Icon {
    cursor: pointer;
}

.userUpdate-btn {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}